{% extends "base.html" %} {% block content %}
<!-- HEADING -->
<div
  class="movableContent"
  style="border: 0px; padding-top: 0px; position: relative"
>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td style="height: 1.5rem"></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td valign="top" align="center" class="specbundle">
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <p
                        style="
                          text-align: center;
                          margin: 0px;
                          font-size: 2.5rem;
                          color: #222222;
                        "
                      >
                        <span class="specbundle2">
                          <span class="font1">Welcome to </span>
                        </span>
                        <span style="color: #289cdc">
                          {{ COMPANY_NAME }}!</span
                        >
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- SEPARATOR -->
<!-- <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td valign='top' align='center'>
          <div class="contentEditableContainer contentImageEditable">
            <div class="contentEditable">
              <img src="images/line.png" width='251' height='43' alt='' data-default="placeholder" data-max-width="560">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div> -->

<!-- MESSAGE CONTENT -->
<div
  class="movableContent"
  style="
    border: 0px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    position: relative;
    color: #ffffff;
    background-color: #0f4f72;
  "
>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td align="left">
        <div class="contentEditableContainer contentTextEditable">
          <div class="contentEditable" align="center">
            <h1 style="margin: 0px">{{EMPLOYER}}</h1>
            <h2 style="margin: 0px">Company ID: {{ID}}</h2>
            <h3 style="margin-top: 1.5rem; font-weight: lighter">
              We are very excited to have you here {{ FIRST_NAME }}, please
              click on the following link to validate your email:
            </h3>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="height: 1.5rem"></td>
    </tr>
    <tr>
      <td align="center">
        <table>
          <tr>
            <td
              align="center"
              style="
                background: #0c94a8;
                padding: 1rem;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
              "
            >
              <a
                target="_blank"
                href="{{ LINK }}"
                style="text-decoration: none"
              >
                <div class="contentEditableContainer contentTextEditable">
                  <div class="contentEditable" align="center">
                    <a
                      target="_blank"
                      href="{{ LINK }}"
                      class="link2"
                      style="color: #ffffff; text-decoration: none"
                    >
                      <h3 style="margin: 0px">Validate my email</h3>
                    </a>

                    <h4
                      style="
                        margin: 0.75rem 0 0.75rem 0;
                        font-weight: lighter;
                        color: #ffffff;
                      "
                    >
                      Be aware that this link will only be valid for 15 minutes
                    </h4>
                  </div>
                </div>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height: 1.5rem"></td>
    </tr>
  </table>
</div>
{% endblock %}